<ion-header>
  <ion-toolbar>
    <ion-title>Enter Details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="addForm" (ngSubmit)="addStock()">
    <ion-list lines="none">
      <ion-label>Name </ion-label>
      <ion-input formControlName="name"></ion-input>
      <ion-label class="error_msg" *ngIf="isFormSubmitted && addFormControl.name.errors"> Please Enter Name </ion-label>
    </ion-list>

    <ion-list lines="none" >
      <ion-label>Trade Date </ion-label>
      <input type="date" style="
          border: 1px solid #ddd;
          outline: none;
    border-radius: 3px;
    font-size: 14px;
    margin-bottom: 6px;
    margin-top: 8px;
    padding: 12px;
      width: 100%;" formControlName="trade_date">
      <ion-label class="error_msg" *ngIf="isFormSubmitted && addFormControl.trade_date.errors"> Please Enter Trade Date
      </ion-label>
    </ion-list>


    <ion-list>
      <ion-label>Status </ion-label>
      <ion-select style=" border: 1px solid #ddd;
      margin-top: 8px;" placeholder="Type" formControlName="status">
        <ion-select-option value="active">Active</ion-select-option>
        <ion-select-option value="waiting">Waiting</ion-select-option>
      </ion-select>
      <ion-label class="error_msg" *ngIf="isFormSubmitted && addFormControl.status.errors"> Please Select Status
      </ion-label>
    </ion-list>

    <ion-list lines="none">
      <ion-label>Entry Price </ion-label>
      <ion-input formControlName="buying_price" (ionChange)="enableAddButton()"></ion-input>
      <ion-label class="error_msg" *ngIf="isFormSubmitted && addFormControl.buying_price.errors"> Please Enter Buying
        Price </ion-label>
    </ion-list>

    <ion-list lines="none">
      <ion-label>Exit/StopLoss Price
        <!-- <span *ngIf="initial" style="font-size: 13px"> (Follow Daily Support Time Frame) </span> -->
      </ion-label>
      <ion-input formControlName="stop_loss" (ionChange)="enableAddButton()"></ion-input>
      <ion-label class="error_msg" *ngIf="isFormSubmitted && addFormControl.stop_loss.errors"> Please Enter Stop Loss
        Price </ion-label>
    </ion-list>

    <!-- <ion-list lines="none">
      <ion-label>Target Price </ion-label>
      <ion-input formControlName="target_price" ></ion-input>
      <ion-label class="error_msg" *ngIf="isFormSubmitted && addFormControl.target_price.errors"> Please Enter Target Price
        Price </ion-label>
    </ion-list> -->

    <ion-list style="display: none;">
      <ion-label>Supporting EMA </ion-label>
      <div style="display: flex">
        <div>
          <ion-select style=" border: 1px solid #ddd;
        margin-top: 8px;" placeholder="Select" formControlName="support_time_frame">
            <ion-select-option value="M">Monthly</ion-select-option>
            <ion-select-option value="W">Weekly</ion-select-option>
            <ion-select-option value="D">Daily</ion-select-option>
            <ion-select-option value="4H">4 Hrs</ion-select-option>
            <ion-select-option value="3H">3 Hrs</ion-select-option>
            <ion-select-option value="2H">2 Hrs</ion-select-option>
            <ion-select-option value="1H">1Hr</ion-select-option>
          </ion-select>
          <ion-label class="error_msg" *ngIf="isFormSubmitted && addFormControl.support_time_frame.errors"> Please
            Select
            Supporting Time Frame
          </ion-label>
        </div>
        <div>
          <ion-select style=" border: 1px solid #ddd;
        margin-top: 8px; margin-left: 20px;" placeholder="Select" formControlName="support_ema">
            <ion-select-option value="20 EMA">20 EMA</ion-select-option>
            <ion-select-option value="50 EMA">50 EMA</ion-select-option>
            <ion-select-option value="100 EMA">100 EMA</ion-select-option>
            <ion-select-option value="200 EMA">200 EMA</ion-select-option>
          </ion-select>
          <ion-label class="error_msg" *ngIf="isFormSubmitted && addFormControl.support_ema.errors"> Please Select
            Supporting EMA
          </ion-label>
        </div>
      </div>
      <!-- <ion-select style=" border: 1px solid #ddd;
      margin-top: 8px;" placeholder="Select" formControlName="support_200_ema">
        <ion-select-option value="M">Monthly</ion-select-option>
        <ion-select-option value="W">Weekly</ion-select-option>
        <ion-select-option value="D">Daily</ion-select-option>
        <ion-select-option value="4H">4 Hrs</ion-select-option>
        <ion-select-option value="3H">3 Hrs</ion-select-option>
        <ion-select-option value="2H">2 Hrs</ion-select-option>
        <ion-select-option value="1H">1Hr</ion-select-option>
        <ion-select-option value="30 MIN">30 Min</ion-select-option>
        <ion-select-option value="15 MIN">15 Min</ion-select-option>
        <ion-select-option value="10 MIN">10 Min</ion-select-option>
        <ion-select-option value="5 MIN">5 Min</ion-select-option>
        <ion-select-option value="3 MIN">3 Min</ion-select-option>
        <ion-select-option value="1 MIN">1 Min</ion-select-option>
      </ion-select> -->

    </ion-list>


    <ion-list lines="none">
      <div class="label">
        Investment
        <!-- <span *ngIf="initial" style="font-size: 13px"> (Max Invest Amount 50000) </span> -->
      </div>
      <div class="labelForVal">
        {{(addFormControl.buying_price.value * addFormControl.quantity.value) | roundOff}}
      </div>
    </ion-list>

    <ion-list lines="none">
      <div class="label">
        Risk Percentage
      </div>
      <div class="labelForVal">
        {{addFormControl.buying_price.value | riskPercentage:addFormControl.stop_loss.value}}
      </div>
    </ion-list>

    <ion-list lines="none">
      <div class="label">
        Risk Value
        <span style="font-size: 13px">
          (Max Risk Amount - {{ max_risk_value | roundOff }})
        </span>
      </div>

      <ion-radio-group formControlName="selectedRisk" (ionChange)="calculateRisk()" *ngIf="((this.groupHolding.stop_loss - this.groupHolding.buying_price) * this.groupHolding.quantity) > 0">
        <div class="radio-row">
          <ion-item *ngFor="let option of riskOptions" lines="none" class="radio-option">
            <ion-label>{{ option.label }}</ion-label>
            <ion-radio slot="start" [value]="option.value" class="circle-radio"></ion-radio>
          </ion-item>
        </div>
      </ion-radio-group>

      <div class="labelForVal">
        {{ addFormControl.buying_price.value | riskValue:addFormControl.stop_loss.value:addFormControl.quantity.value }}
      </div>
    </ion-list>



    <ion-list lines="none">
      <ion-label>Quantity </ion-label>
      <ion-input formControlName="quantity" (ionChange)="enableAddButton()"></ion-input>
      <ion-label class="error_msg" *ngIf="isFormSubmitted && addFormControl.quantity.errors"> Please Enter Qunatity
      </ion-label>
    </ion-list>
    <ion-list lines="none">


      <ion-button type="submit" [style.--background]="btnBg" [disabled]="!enable">{{btn_action_title}}</ion-button>
      <ion-button (click)="closeModal()">Cancel</ion-button>
    </ion-list>
  </form>
</ion-content>