<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="header-items">
      <ion-title> Holdings</ion-title>
      <ion-icon name="filter-outline" (click)="filterActions()"></ion-icon>
      <ion-icon name="options-outline"></ion-icon>
      <ion-icon slot="start" name="add" (click)="addHolding('add')"></ion-icon>
    </div>
  </ion-toolbar>
  <ion-searchbar style="background: white;" mode="ios" (ionChange)="search($event)"></ion-searchbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div *ngFor="let holding of searchHolding"
    [style.border-color]="isInProfit(holding.buying_price, holding.stop_loss, holding.quantity) ? '#28ba62' : '#eb445a'"
    style="
  color: #444444;
    border-bottom: 1px solid;
    padding: 12px 0px 12px 8px;
    border-left: 6px solid;
    margin: 16px 0px;
  " (click)="actions(holding.id)">
    <div style="
   color: white;
   font-size: 12px;
   margin-bottom: 15px;
   font-weight: 500;

   text-transform: uppercase;">

      <span *ngIf="holding.status == 'Active'" style="background-color: '#2c88a8';padding: 2px 18px;">
        {{holding.status}}
      </span>

      <span *ngIf="holding.status == 'Waiting'" style="background-color: '#8f952e';padding: 2px 18px;">
        {{holding.status}}
      </span>
    </div>
    <div style=" margin-top: 8px;   display: flex;
        justify-content: space-between;">
      <div>
        {{holding.name}} ({{holding.quantity}})
      </div>
      <div>
        Invest {{holding.buying_price * holding.quantity}}
      </div>
    </div>
    <div style="    margin-top: 10px;
    display: flex;
    font-size: 14px;
    justify-content: space-between;">
      <div>
        SL {{holding.stop_loss}} | EP {{holding.buying_price}} 
      </div>
      <div>
        Risk ({{holding['buying_price'] | riskPercentage:holding['stop_loss']}}% | {{holding.buying_price |
        riskAbsoluteValue : holding['stop_loss']: holding['quantity']}})
      </div>
    

    </div>
    <div style="    display: flex;
    justify-content: space-between;    ">
      <div style="font-size: 14px;">
        <div style="    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;">
          Age: {{holding.trade_date | days}}
        </div>
      </div>
      <div style="    font-size: 14px;
    
    margin-top: 10px;">
       EMA: {{holding.support_200_ema}}
      </div>
    </div>

  </div>

  <ion-modal style="--height: 200px;" [isOpen]="isSellingModalOpen" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-content class="ion-padding">
        <div style="margin-top: 16px;">
          <ion-label>Enter Selling Price </ion-label>
          <ion-input style="    border: 1px solid #ddd;
          margin: 16px 0px;" [(ngModel)]="selling_price"></ion-input>
          <ion-label class="error_msg" *ngIf="selling_modal_submit && selling_price == ''">Please Enter Selling Price
          </ion-label>
        </div>

      </ion-content>
      <ion-footer>
        <ion-button (click)="cancel()">Cancel</ion-button>
        <ion-button (click)="addToHistory()" [strong]="true">Save</ion-button>
      </ion-footer>
    </ng-template>
  </ion-modal>
</ion-content>