<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="holdings">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Holdings</ion-label>
      <ion-badge>{{count}}</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="dashboard">
      <ion-icon name="apps-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>