ion-header{
    
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    /* border-bottom: 1px solid #ddd; */
    margin-bottom: 10px;
        ion-text{
            padding: 12px 0px;
        }
        ion-icon{
            padding: 12px
        }
    
}

.category-container {
    margin-bottom: 20px;
  }
  
  .category-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8px;
  }
  
  .selected-tag {
    font-size: 14px;
    font-weight: bold;
    color: #3880ff; // Ionic primary color
  }
  
  .chip-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
  
  ion-chip {
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  
  ion-chip.selected {
    background-color: #3880ff;
    color: white;
    font-weight: bold;
  }
  
  .separator {
    margin-top: 10px;
    height: 1px;
    background-color: #ccc;
  }
  

ion-footer{
    padding: 16px;
    display: flex;
    flex-direction: row-reverse;
    ion-button{
        --box-shadow:none
    }
}